@import '~antd/dist/reset.css';
@import './style/common.css';
@import './style/home.css';
@import './style/tables.css';
@import './style/login.less';
@import 'nprogress/nprogress.css'; // 引入 NProgress 的样式


body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}
