.editor-wrapper {
  display: flex;
  height: 100%;
  position: relative;
  background-color: #fff;
  .editor-side-bar {
    width: 55px;
  }
  .editor-page-edit-wrapper {
    width: 210px;
    padding: 0 1px;
  }
  .editor-main {
    flex: 1;
    background: #f0f2f5;
    position: relative;
  }
  .el-attr-edit-wrapper {
    width: 380px;
    padding: 0;
  }
  .ant-tabs-nav {
    width: 100%;
  }
}

.control-bar-wrapper {
  position: absolute;
  top: -44px;
  left: 0;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.editor-side-bar {
  .el-tabs__item.is-active {
    background: rgba(37, 165, 137, 0.09);
  }
}

.el-attr-edit-wrapper {
  .el-tabs {
    height: 100%;
    padding-left: 16px;
    padding-right: 16px;
    padding-bottom: 10px;
  }
  .el-tabs__content {
    height: calc(100% - 55px);
    & > div {
      height: 100%;
    }
    .attr-edit-inner {
      padding-left: 16px;
      padding-right: 16px;
    }
  }
}

.components-libs-wrapper {
  user-select: none;
  height: 100%;
  padding-top: 60px;
  position: relative;
  & ul {
    padding: 10px;
  }
}

.page-title-editor {
  position: absolute;
  font-size: 16px;
  font-weight: bold;
  top: 16px;
  left: 0;
  width: 100%;
}

.components-libs-title {
  margin-bottom: 16px;
}

.components-lib-item {
  color: #424242;
  text-align: center;
  background: #f4f4f4;
  width: 80px;
  float: left;
  padding: 6px 0;
  margin: 5px;
  border: 1px solid #dddddd;
  font-size: 12px;
  cursor: pointer;
  transition: All 0.3s ease-in-out;
  &:hover {
    background: #fff;
    border: 1px solid @primary;
    color: @primary;
  }
}

.scrollbar {
  height: 100%;
  overflow: hidden;
}

.scrollbar:hover {
  overflow: scroll;
  transition: opacity 0.3s ease; /* 滚动条出现和消失的动画效果 */
}

/* 样式化滚动条的轨道 */
.scrollbar::-webkit-scrollbar {
  width: 5px; /* 设置滚动条的宽度 */
}

/* 样式化滚动条的滑块 */
.scrollbar::-webkit-scrollbar-thumb {
  background: #888; /* 设置滑块的颜色 */
  border-radius: 10px; /* 设置滑块的圆角 */
}

/* 当滑块处于活动状态时（例如，用户正在拖动滑块），可以改变其样式 */
.scrollbar::-webkit-scrollbar-thumb:active {
  background: #555; /* 当滑块被按下时的颜色 */
}

.components-contrl-bar {
  display: inline-block;
  z-index: 3;
  padding: 2px 12px;
  height: 100%;
  .button-item {
    display: inline-block;
    width: 68px;
    cursor: pointer;
    text-align: center;
    vertical-align: bottom;
    font-size: 14px;
    transition: color 0.28s, transform 0.28s;
    user-select: none;
    &.scale-wrappper {
      width: 110px;
      margin-right: 10px;
      &:hover {
        color: inherit;
        transform: none;
      }
      & > .scale-btn {
        display: inline-block;
        vertical-align: middle;
        padding: 6px 2px;
        font-size: 20px;
        transition: all 0.28s;
        &:hover {
          color: @primary;
        }
      }
    }
    &:hover {
      color: @primary;
      transform: scale(1.02);
      font-weight: bold;
    }
    &.disabled {
      cursor: not-allowed;
      color: @gray !important;
    }
    & > i {
      font-size: 18px;
      display: inline-block;
      transition: all 0.28s;
    }
    & > p {
      font-size: 14px;
    }
  }
}

.scale-input {
  display: inline-block;
  position: relative;
  padding: 7px 0;
  width: 46px;
  font-size: 14px;
  text-align: center;
  cursor: pointer;
  white-space: nowrap;
  border-radius: 17px;
  margin: 0 4px;
  &:hover {
    background: #dfdfdf;
  }
}

.upload-psd-btn-wrapper {
  display: inline-block;
}

.el-tabs-container {
  height: 100%;
  padding-left: 16px;
  padding-right: 16px;
  padding-bottom: 10px;
}

.editor-pane {
  height: 100%;
  width: 100%;
  border: 1px solid #f5f5f5;
  border-width: 0 1px;
  background-image: linear-gradient(45deg, #f5f5f5 25%, transparent 0, transparent 75%, #f5f5f5 0), linear-gradient(45deg, #f5f5f5 25%, transparent 0, transparent 75%, #f5f5f5 0);
  background-position: 0 0, 13px 13px;
  background-size: 26px 26px;
  display: flex;
  justify-content: center;
}

.editor-pane-inner {
  height: 100%;
  width: 100%;
  overflow: auto;
  padding: 20px;
}

.editor-main {
  border-radius: 3px;
  position: relative;
  background: white;
  transform-origin: center top;
  background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABkAAAAZAgMAAAC5h23wAAAAAXNSR0IB2cksfwAAAAlQTFRF9fX18PDwAAAABQ8/pgAAAAN0Uk5T/yIA41y2EwAAABhJREFUeJxjYIAC0VAQcGCQWgUCDUONBgDH8Fwzu33LswAAAABJRU5ErkJggg==");
}

.page-preview-wrapper {
  height: 100%;
  position: relative;
}

.page-wrapper-mask {
  height: 100%;
  width: 100%;
  z-index: 1000;
  position: absolute;
  left: 0;
  top: 0;
  pointer-events: none;
  outline: rgba(236, 238, 240, 0.77) solid 10000px;
}

.element-on-edit-pane {
  height: 100%;
  width: 100%;
  overflow: hidden;
}

.page-wrapper-menu-operation {
  position: absolute;
  right: 0;
  top: 45px;
  width: 0;
  background: white;
  color: #333;
  text-align: center;
  z-index: 1002;
  border-radius: 4px;
  display: none;
  transition: all 0.28s;
  opacity: 0;
  .menu-item {
    padding: 10px;
    cursor: pointer;
    &.i {
      font-size: 24px;
      line-height: 30px;
    }
    &:hover {
      background: rgba(37, 165, 137, 0.09);
      color: @primary;
      &.i {
        font-weight: bold;
        font-size: 26px;
      }
    }
  }
  &.active {
    display: block;
    width: 60px;
    opacity: 1;
  }
}